<%= simple_form_for(@person, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>


    <%= f.input :address, required: true, label: false, placeholder: "Home Market", input_html: {class: "form-control", rows: 5} %>
    <%= f.input :website, required: true, label: false, placeholder: "Agent's website", input_html: {class: "form-control", rows: 5} %>
    <br>
    <%= f.input :description, required: true%>
    <%= f.input :firstname, required: true %>
    <%= f.input :lastname, required: true %>
    <%= f.input :description %>
    <%= f.input :eyecolor, required: true %>
    <%= f.input :haircolor, required: true %>
    <%= f.input :height, required: true %>
    <%= f.input :waist, required: true %>
    <%= f.input :bust, required: true %>
    <%= f.input :hips, required: true %>
    <div class="checkbox text-center">
    <p>Availability</p>
    <%= f.input :availability, required: false, label: false %>
    </div>
    <%= f.button :submit, class: "btn btn-primary btn-block" %>
<% end %>
