<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :address, required: true %>
    <%= f.input :user_id, required: true %>
    <%= f.input :website, required: true %>
    <%= f.input :firstname, required: true %>
    <%= f.input :lastname, required: true %>
    <%= f.input :description %>
    <%= f.input :eyecolor, required: true %>
    <%= f.input :haircolor, required: true %>
    <%= f.input :height, required: true %>
    <%= f.input :waist, required: true %>
    <%= f.input :bust, required: true %>
    <%= f.input :hips, required: true %>
    <%= f.input :availability %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
