<div class="container">
<div class="row">

<div class="col-md-6">
<%= image_tag "IMG_0981.jpg", class: "img-responsive" %>



<h3><%= @person.firstname %></h3>
<p>
  <strong>Local Market</strong>
  <%= @person.address %>
</p>
<p>
  <strong>Agent's Website</strong>
  <%= @person.website %>
</p>

<p>
  <strong>Description</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Eyecolor</strong>
  <%= @person.eyecolor %>
</p>

<p>
  <strong>Haircolor</strong>
  <%= @person.haircolor %>
</p>

<p>
  <strong>Height</strong>
  <%= @person.height %>
</p>
<p>
  <strong>Waist</strong>
  <%= @person.waist %>
</p>

<p>
  <strong>Bust</strong>
  <%= @person.bust %>
</p>

<p>
  <strong>Hips</strong>
  <%= @person.hips %>
</p>

<p>
  <strong>Availability</strong>
  <%= @person.availability %>
</p>
</table>
<p class="justify"><%= @person.description %></p>

</div>

<div class="col-md-6">
  <%= render partial: "discernings/form", locals: {discerning: @discerning} %>
</div>

</div>
</div>
</div>
<%= link_to "Edit", edit_person_path(@person)  %>
<%= link_to "Back", person_path  %>
