<%= simple_form_for(@discerning) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :walk %>
    <%= f.input :presence %>
    <%= f.input :personality %>
    <%= f.input :posture %>
    <%= f.input :carriage %>
    <%= f.input :bone %>
    <%= f.input :structure %>
    <%= f.input :smile %>
    <%= f.input :appearance %>
    <%= f.input :distinctiveness %>
    <%= f.input :jenesaisquoi %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
