<%= simple_form_for @discerning do |f| %>
  <%= f.input :person_id, as: :hidden %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <br/>
    <%= f.input :walk, as: :select, collection: (1..10)  , input_html: {class: "rating"}, prompt: false %>
    <br/>
    <%= f.input :presence, as: :select, collection: (1..10) , input_html: {class: "rating"}, prompt: false %>
    <br/>
    <%= f.input :personality, as: :select, collection: (1..10) , input_html: {class: "rating"}, prompt: false %>
    <br/>
    <%= f.input :posture, as: :select, collection: (1..10) , input_html: {class: "rating"}, prompt: false %>
    <br/>
    <%= f.input :carriage, as: :select, collection: (1..10) , input_html: {class: "rating"}, prompt: false %>
    <br/>
    <%= f.input :bone, label: "Bone Structure", as: :select, collection: (1..10)  , input_html: {class: "rating"}, prompt: false %>
    <br/>
    <%= f.input :smile, label: "Smile", as: :select, collection: (1..10)  , input_html: {class: "rating"}, prompt: false %>
    <br/>
    <%= f.input :appearance, label: "Appearance", as: :select, collection: (1..10)  , input_html: {class: "rating"}, prompt: false %>
    <br/>
    <%= f.input :jenesaisquoi, label: "Je ne sais quoi", as: :select, collection: (1..10)  , input_html: {class: "rating"}, prompt: false %>
    <br/>
    <%= f.input :distinctiveness, label: "Distinctiveness", as: :select, collection: (1..10)  , input_html: {class: "rating"}, prompt: false %>
    <br/>

    <%= f.input :comment, label: false, placeholder: "Comment", input_html: {class: "form-control", rows: 5} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
