<p id="notice"><%= notice %></p>

<p>
  <strong>Walk:</strong>
  <%= @discerning.walk %>
</p>

<p>
  <strong>Presence:</strong>
  <%= @discerning.presence %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @discerning.personality %>
</p>

<p>
  <strong>Posture:</strong>
  <%= @discerning.posture %>
</p>

<p>
  <strong>Carriage:</strong>
  <%= @discerning.carriage %>
</p>

<p>
  <strong>Bone:</strong>
  <%= @discerning.bone %>
</p>

<p>
  <strong>Structure:</strong>
  <%= @discerning.structure %>
</p>

<p>
  <strong>Smile:</strong>
  <%= @discerning.smile %>
</p>

<p>
  <strong>Appearance:</strong>
  <%= @discerning.appearance %>
</p>

<p>
  <strong>Distinctiveness:</strong>
  <%= @discerning.distinctiveness %>
</p>

<p>
  <strong>Jenesaisquoi:</strong>
  <%= @discerning.jenesaisquoi %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @discerning.comment %>
</p>

<%= link_to 'Edit', edit_discerning_path(@discerning) %> |
<%= link_to 'Back', discernings_path %>
