<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Walk</th>
      <th>Presence</th>
      <th>Personality</th>
      <th>Posture</th>
      <th>Carriage</th>
      <th>Bone</th>
      <th>Structure</th>
      <th>Smile</th>
      <th>Appearance</th>
      <th>Distinctiveness</th>
      <th>Jenesaisquoi</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.walk %></td>
        <td><%= review.presence %></td>
        <td><%= review.personality %></td>
        <td><%= review.posture %></td>
        <td><%= review.carriage %></td>
        <td><%= review.bone %></td>
        <td><%= review.structure %></td>
        <td><%= review.smile %></td>
        <td><%= review.appearance %></td>
        <td><%= review.distinctiveness %></td>
        <td><%= review.jenesaisquoi %></td>
        <td><%= review.comment %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
