<p id="notice"><%= notice %></p>

<p>
  <strong>Walk:</strong>
  <%= @review.walk %>
</p>

<p>
  <strong>Presence:</strong>
  <%= @review.presence %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @review.personality %>
</p>

<p>
  <strong>Posture:</strong>
  <%= @review.posture %>
</p>

<p>
  <strong>Carriage:</strong>
  <%= @review.carriage %>
</p>

<p>
  <strong>Bone:</strong>
  <%= @review.bone %>
</p>

<p>
  <strong>Structure:</strong>
  <%= @review.structure %>
</p>

<p>
  <strong>Smile:</strong>
  <%= @review.smile %>
</p>

<p>
  <strong>Appearance:</strong>
  <%= @review.appearance %>
</p>

<p>
  <strong>Distinctiveness:</strong>
  <%= @review.distinctiveness %>
</p>

<p>
  <strong>Jenesaisquoi:</strong>
  <%= @review.jenesaisquoi %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
